.botao {
  color: #000000; /* Texto laranja (#c2410c é a cor equivalente a text-orange-700 no Tailwind) */
  border: 2px solid #000000; /* Borda laranja */
  border-radius: 10px;
  background-color: orange; /* Fundo transparente */
  padding: 0.2rem 1rem; /* Espaçamento interno (px-4 py-2 no Tailwind) */
  cursor: pointer;     /* Mantém o cursor de clique */
  font-weight: 200;
  font-size: 15px;  
  font-weight: bold;
}
.botao-posicao{
    display: flex;
    justify-content: space-between;
}
