.container{
    display: flex;
    justify-content:space-around;
    padding-top: 25px;

}
.botoes-info{
    flex-direction: column;
    display: flex;
}
.esquerda{

    padding: 25px;
    flex-direction: column;
}
.info-container {
  padding: 20px;      /* espaçamento em volta de todos os cards */
  display: flex;
  flex-direction: column; /* deixa os cards empilhados em coluna */
  gap: 20px;          /* espaço entre os cards */
}

.info-box {
  background: linear-gradient(
    192deg,
    rgb(34, 80, 137) 0%,
    rgb(46, 109, 186) 50%,
    rgb(43, 100, 171) 100%
  );
  border-radius: 10px;
  width: 100%;   /* agora ocupa toda a largura disponível */
  padding: 12px; 
}
.card-conteudo{
    color: white;
    font-size:larger;
    font-weight: bold;
}
.img-card{
    background-color: white;
}
/*---------------------------------------------------------------------*/
.cards-container {
  padding: 20px; /* espaçamento em volta de todos os cards */
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* espaço entre os cards */
}

.card-lancamento{
     background: linear-gradient(
        192deg,
        rgb(34, 80, 137) 0%,
        rgb(46, 109, 186) 50%,
        rgb(43, 100, 171) 100%
    );
    border-radius: 10px;
    width: 22%;
    padding:6px; 
    
}
.card-conteudo{
    color: white;
    font-size:larger;
    font-weight: bold;
}
.img-card{
    background-color: white;
}
.titulo{
     padding: 20px; 
     display: flex;
    font-size: 30px;
    justify-content: center;
    color: black;
    
}
